certifi==2019.3.9
chardet==3.0.4
idna==2.8
japronto==0.1.2
##pip3 install git+git://github.com/squeaky-pl/japronto.git@master
lxml==4.3.2
PyExecJS==1.5.1
PyJWT==1.7.1
redis==3.2.1
requests==2.21.0
six==1.12.0
urllib3==1.24.1
uvloop==0.12.1